doctype html
html(lang="en")
 head 
  title The Heap Space

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js").
  script(src="/javascripts/fileinput.min.js").
  script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js").
  script(src="/javascripts/notes.js").
  script(src="/javascripts/highlight.pack.js").
  //script(src="/javascripts/fileinput.min.js").
  script hljs.initHighlightingOnLoad();
  link(rel="stylesheet",href="/stylesheets/notedisplay.css").
  link(rel="stylesheet",href="/stylesheets/bootstrap.min.css").
  link(rel="icon",href="/icon/favicon.ico").
  link(rel="stylesheet",href="/stylesheets/fileinput.min.css").
  link(rel="stylesheet",href="/stylesheets/ad_blog.css").
  link(rel="stylesheet",href="/stylesheets/xcode.css").
  //link(rel="stylesheet",href="/stylesheets/github.css").
  

 // NAVBAR
 //-----------------------------------------------------------------
 body
  div(class="navbar navbar-findcond navbar-fixed-top")
   div(class="container")
    div(class="navbar-header")
     button(type="button",class="navbar-toggle collapsed",data-toggle="collapse",data-target="#navbar")
       span(class="sr-only") Toggle Navigation
       span(class="icon-bar")
       span(class="icon-bar")
       span(class="icon-bar")
      a(class="navbar-brand",href='/theheapspace/notes/page=1') Notes
    div(class="collapse navbar-collapse",id="navbar")
     ul(class="nav navbar-nav navbar-right")
      li(class="dropdown")
       a(href="#",class="dropdown-toggle",data-toggle="dropdown",role="button",aria-expanded="false")
        i(class="fa fa-fw fa-bell-o",id="usrname") Welcome back
       ul(class="dropdown-menu",role="menu")
        li 
         a(href="#")
          i(class="fa fa-fw fa-thumbs-o-up")
      li(class="active")  
       a(href="#") Login
  div(style="position:relative;float:center;height: 300px;overflow:hidden")
   img(src = "/images/backtop.jpg",style="position:relative;") 
  div(class="container")
   div(class="col-md-10")
    table(class="table table-striped")
     thead
      tr
       th #
       th Date
       th Task 
     tbody
       - counter = 0;
       - each ev, i in events
        - counter++;
        tr(id='#{counter}')
          td #{counter}
          td #{ev.date}
          td #{ev.e}
